body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    font-size: large;
    
}


header {
    background-color: #464646;
    color: #fff;
    padding: 20px;
    text-align: center;

}


